* {
    padding: 0;
    margin: 0;
}

#container {
    margin-left: 30px;
    margin-right: 30px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #d3d3d3;
    color: #113c4a;
}

header h1 {
    font-style: italic;
    text-align: center;
    font-size: 70px;
    padding: 10px;
    color: #3f7b70;
}

nav {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #113c4a;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color: #FFFFFF;
}

nav a:link {
    color: #FFFFFF;
}

nav a:hover {
    color: #d3d3d3;
}

img {
    padding-top: 15px;
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

main h1 {
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.paragraph {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.paragraph1 {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 700px;
}

.photoTable {
    display: table;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.space {
    display: table-row;
    margin: 10px;
}

footer {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    background-color: #113c4a;
    color: #FFFFFF;
}

.divtable {
    margin-top: 15px;
    margin-bottom: 30px;
}

.contactParagraph {
    width: 700px;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 18px;
}

table {
    width: 700px;
    margin: auto;
}

th {
    background-color: #3f7b70;
    color: #FFFFFF;
    font-size: 18px;
    box-shadow: #265a5c 6px 6px 2px;
}

td {
    border-bottom: 1px #113c4a solid;
    padding-left: 15px;
    font-size: 18px;
    color: #113c4a;
    padding: 10px;
}

.divform {
    margin-top: 30px;
    margin-bottom: 30px;
}

h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

form {
    background-color: #3f7b70;
    width: 700px;
    padding: 15px;
    font-size: 15px;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    box-shadow: #265a5c 8px 8px 2px;
}

label {
    float: left;
    clear: left;
    display: block;
    width: 100px;
    padding-right: 15px;
    margin-top: 15px;
    text-align: right;
}

input {
    display: block;
    margin-top: 15px;
    width: 200px;
    height: 15px;
    padding: 5px;
}

textarea {
    display: block;
    margin-top: 15px;
    padding: 5px;
}

input[name="email"] {
    width: 530px;
}

label[for="jobOptions"] {
    width: 260px;
}

select {
    width: 382px;
    margin-top: 10px;
}

button[type="submit"] {
    margin-left: 115px;
    margin-top: 10px;
    width: 100px;
    height: 25px;
    background-color: #FFFFFF;
}

button[type="reset"] {
    margin-left: 15px;
    margin-top: 10px;
    width: 100px;
    height: 25px;
    background-color: #FFFFFF;
}

.error {
    color: darkred;
    font-size: 12px;
    text-align: left;
    justify-content: center;
    width: 225px;
    margin-left: 15px;
}

input.small {
    width: 300px;
}

.divvideo {
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (max-device-width: 480px) {
    header h1 {
        font-size: 45px;
    }

    nav ul {
        display: inline;
        text-align: center;
        justify-items: center;
    }

    nav li {
        margin: 10px;
    }

    img {
        width: 100%;
        height: 100%;
        padding-bottom: 10px;
    }

    main h1 {
        text-align: center;
    }

    .paragraph {
        text-align: center;
    }

    .paragraph1 {
        text-align: center;
        width: 350px;
    }

    .photoTable {
        display: table;
    }

    .photoLandscape {
        width: 95%;
        height: 95%;
    }
    
    .photoCell {
        display: table-cell;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .photoCell p {
        text-align: center;
    }

    video {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }

    .divvideo {
        display: table-cell;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .divtable {
        display: inline;
    }

    .contactParagraph {
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        text-align: center;
    }

    table {
        width: 100%;
    }

    .divform {
        display: inline;
    }

    form {
        width: 300px;
    }

    h3 {
        width: 100%;
    }

    label {
        text-align: left;

    }

    button[type="submit"] {
        margin-left: 0;
        
    }

}